<%- include('header') %>

    <!-- <a class="nav-link" href="/apply_leave/<%= id_prof %>">Apply for Leave</a>


    <a class="nav-link" href="/dayoff/<%= id_prof %>">Check Leave</a>


    <a class="nav-link" href="/checkleave/<%= id_prof %>">Leave balance</a>

    <a class="nav-link" href="/logout">Logout</a>
    <div class="container mt-5">
        <h2>Your Dashboard</h2> -->
        <p>Profile ID: <%= id_prof %>
        </p>
        <!-- Add more dashboard content as needed -->
    </div>
<%- include('footer') %>